.main {
  background-image: url("../img/black.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bebebe;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album {
  position: relative;
  height: 600px;
  width: 600px;
  perspective: 1600px;
}

.album__sheet {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: absolute;
}
//fix firefox bug: bacface-visibility dublicated for parent 
@-moz-document url-prefix() {
  .album__sheet {
    backface-visibility: hidden;;
  }
}

.album__sheet-first {
  z-index: 5;
  transform-origin: left center;
  &.open {
    animation: album-open 0.5s 0s both;
  }
  &.close {
    animation: album-close 0.5s 0.5s both;
  }
}

.album__sheet-second {
  z-index: 3;
}

.album__sheet-third {
  z-index: 4;
  transform-origin: right center;
  &.open {
    animation: album-open-back 0.5s 0.5s both;
  }
  &.close {
    animation: album-close-back 0.5s 0s both;
  }
}

.album__page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  animation-fill-mode: both;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url("../img/paper.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page__front {
  color: #fff;
  background-image: url("../img/front-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 3;
  text-shadow: 0 0 5px #000;
}
.page__front-title {
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  text-shadow: #253e45 -1px 1px 0, #253e45 -2px 2px 0, #d45848 -3px 3px 0, #d45848 -4px 4px 0;
}
.page__front-subtitle {
  text-align: center;
  margin-top: 15px;
  font-size: 23px;
  color: #ffbf40;
}

.page__front-items {
  margin-top: 70px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.front__item-title {
  font-size: 20px;
  color: #ffaa00;
  font-weight: 700;
}
.front__item-subtitle {
  font-size: 24px;
}

.front__item {
  &:not(:last-child) {
    margin-bottom: 70px;
  }
}

.inner-page {
  overflow-y: auto;
}

.inner-page__title-wrapper {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
  }
}

.inner-page__title {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  border-radius: 8px;
}

.page__1 {
  background-color: white;
  transform: rotateY(160deg);
  left: -600px;
  transform-origin: right center;
}
.about__items {
  margin-top: 50px;
}

.about__item {
  position: relative;
  margin-left: 80px;
  line-height: 22px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &::before {
    content: "";
    position: absolute;
    left: -60px;
    // transform: translateY(-50%);
    background-image: url(../img/java.svg);
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
  }
}
.java-item {
  &::before {
    background-image: url(../img/java.svg);
  }
}
.android-item {
  &::before {
    background-image: url(../img/android.svg);
  }
}
.html-item {
  &::before {
    background-image: url(../img/html.svg);
  }
}
.setting-item {
  &::before {
    background-image: url(../img/setting.svg);
  }
}

.about__books {
  width: 100%;
}

.page__2 {
  z-index: 1;
}

.works__items {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works__item {
  margin-bottom: 10px;
  box-shadow: 0 0 2px #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: zoom-in;
  width: 150px;
  height: 150px;
  background-color: #b348d4;
  margin-top: 20px;
  filter: grayscale(0.8);
  transition: filter 0.5s;
  &:hover {
    filter: grayscale(0);
  }
}
.page__3 {
  left: 600px;
  transform-origin: left center;
  transform: rotateY(-160deg);
}

.page__back {
  background: blue;
  transform-origin: right center;
  z-index: 2;
}

.connect__cancel {
  position: absolute;
  background-image: url("../img/cancel.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.album__btn {
  position: absolute;
  background-color: transparent;
  bottom: 10px;
  right: 20px;
  height: 70px;
  width: 50px;
  cursor: pointer;
  border: none;
  &:before {
    content: "";
    display: block;
    border-top: 25px solid #d4485b;
    border-left: 25px solid #d4485b;
    border-right: 25px solid #d4485b;
    border-bottom: 50px solid transparent;
  }
}
.album__btn.show {
  animation: btn_show 1s 1s both, btn_twitch 2s 2s infinite;
}
.album__btn.close {
  animation: btn_close 1s both;
}

.connect__line {
  width: 100%;
}
.connect__text {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
}
.connect__telegram {
  cursor: pointer;
  display: inline-block;
  margin-bottom: -20px;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.coonect__input-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.connect__form-name,
.connect__form-email,
.connect__form-text {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1ps solid #333;
  resize: none;
  padding: 10px;
}
.connect__form-name {
  flex-grow: 3;
}
.connect__form-email {
  flex-grow: 1;
  margin-left: 5px;
}
.connect__form-text {
  display: block;
  width: 100%;
}
.connect__form-button {
  display: block;
  width: 100px;
  height: 50px;
  margin: 10px 0 0 auto;
  color: #fff;
  background-color: #333;
  cursor: pointer;
}
//map
.connect__map {
  width: 100%;
  height: 200px;
  margin-top: 50px;
}

//popups
.popups {
  position: absolute;
  cursor: zoom-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 55, 61, 0.7);
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  width: 1000px;
  display: none;
  box-shadow: 0 0 5px #000;

  background-color: #ebe9dc;
  &.open {
    display: block;
  }
  .popup__img {
    height: 85%;
  }
}

.popup__img {
  cursor: pointer;
  width: 100%;
}
.popup__text {
  padding: 25px 10px;
  text-align: center;
  font-size: 18px;
}

//animations
@keyframes album-open {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-160deg);
  }
}
@keyframes album-open-back {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(160deg);
  }
}
@keyframes album-close-back {
  from {
    transform: rotateY(160deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes album-close {
  from {
    transform: rotateY(-160deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes album-page-1-open {
  from {
    transform: rotateY(160deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes album-page-1-close {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(160deg);
  }
}

@keyframes album-page-3-open {
  from {
    transform: rotateY(-160deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes album-page-3-close {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-160deg);
  }
}

@keyframes btn_twitch {
  0% {
    bottom: -65px;
  }
  33% {
    bottom: -55px;
  }
  66% {
    bottom: -65px;
  }
}

@keyframes btn_show {
  from {
    bottom: 10px;
  }
  to {
    bottom: -65px;
  }
}

@keyframes btn_close {
  from {
    bottom: -65px;
  }
  to {
    bottom: 10px;
  }
}
