@media (max-width: 1800px) {
    .page__1,
    .page__3 {
        transform: rotateY(0);
        left: 0;
    }
    .album__btn-flag {
        display: none;
    }

    .album__page {
        display: none;
        &.active {
            display: block;
        }
    }
    .album__btn-first {
        color: transparent;
    }
    .album__tabs {
        display: flex;
    }
    .page__back {
        display: none;
    }
    .connect__cancel {
        display: none;
    }
}
@media (max-width: 620px) {
    body{
        overflow-y: auto;
    }
    .main {
        height: auto;
        display: block;
    }
    .album {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        width: auto;
    }
    .album__tabs {
        display: none;
    }
    .album__sheet{
        position: relative;
        display: block;
    }
    .album__page {
        position: relative;
        display: block;
    }
    .album__sheet-first {
        display: flex;
        flex-direction: column-reverse;
    }
    .front {
        padding: 30px 0;
        height: 100vh;
    }
    .page__front-title {
        text-align: center;
        margin-top: 0;
    }
   
}
